*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right,#7b51d6 ,rgb(14, 197, 234));
padding: 0 !important;

}
.img-logo{
    width: 150px;
    border-radius: 10%;
}
.navbar-nav {
padding: 0 10px;
color: #fff;

}
.navbar-nav li a{
    color: #fff;
    font-weight: 600;
}
.play-btn{
    width: 45px;
    margin: 20px;
}
